@charset "UTF-8";

#addBtn-container {
	width: 100%;
	text-align: center;
}

#addDialog{
	font-size: .85em;
}

.d1 .ui-dialog-titlebar { 
	background: #0177C0;
	font-size: 0.85em ;
	font-weight: bold;	
	font-family: sans-serif;
}

.d1 .ui-dialog-titlebar span{ 
	color: #FAFAFA;	
}
.d1 .ui-button-text {
	font-size: 0.85em;	
}
.d1 .ui-widget-header .ui-icon{
	background-image: url(../images/orgIcons.png);
    background-position: -98px -130px;	
}
.d1 .ui-widget-header .ui-state-hover .ui-icon{
    background-position: -98px -130px;	
    font-weight: bold;
}
.d1 .ui-widget-header a {
	box-sizing: border-box;	
    padding: 1px;
}
.d1 .ui-widget-header a.ui-state-hover 
{
	background: none;
	background-color: #0136C7;
	border: 1px solid #FFF;
	box-sizing: border-box;	
}