@charset "UTF-8";

A,BODY,DIV,H1,H2,H3,H4,H5,SPAN,TD,TH {
	color: #111;
	font-family: sans-serif;
	font-size: 0.90em;
}

BODY {
	background-color: #EEE;
	margin:0;
	padding:0;
}

FIELDSET {
}

H3 {
	margin: 2em 0.4em 0.5em;
}

LABEL {
	width: 7em;
	display: inline-block;
}

LEGEND {
	font-weight: bold;
}

TABLE,TD {
 	border: 0px solid #0177C0; 
	border-collapse: collapse;
	border-spacing: 0 0;
}


TD,TH {
	padding: 0.3em;
}

TH {
	background-color: #0177C0;
	color: white;
}

SELECT {
	margin-left: -1px;	
}

.errorblock {
	color: #ff0000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

.sim-logo {
	background: white 0px -270px url(../images/sim-sprite.png) no-repeat;
	height: 72px;
	width: 190px;
}

#heading {
	background: #FFF;
	padding: 2em 2em 0 2em;
}

#container {
	width: 100%;
	padding-left: 2em;
}

.column {
	right-margin: 1em;
	float: left;
}

#addBtn-container {
	margin-top: 0.1em;
}

#addEntity {
	margin-top: .1em;
}

#login {
	float: right;
	cursor: pointer;
	text-decoration: underline;
}

.deptname, .deptparent, .deptparent_id {
	color: #0177C0;
	text-decoration: underline;
	font-size: 1em;
}