@charset "UTF-8";

a, b, h1, h2, h3, h4, h5, p,span {
	color: #070707;
	font-family: sans-serif;
}

body {
	background-color: #FAFAFA;
	padding: 0px;
	margin: 0px;
	min-width: 40em;
	overflow-x: hidden;
}

.errorblock {
	color: #ff0000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}
#login {	
	float: right;
	padding: 10px;	
}

#login span {
	font-size: .9em;	
}

#login span a {
	
}

.sim-logo {
	background: 0px -270px url(../images/sim-sprite.png) no-repeat;
	background-color: #FAFAFA;
	height: 72px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	padding:0px;
	width: 190px;
}
.sim-logo a{
	display: block; 
	width: 100%; 
	height: 100%; 
	float: left;
}
#addBtn-container {
	margin-top: 0.5em;
	/*text-align: center;*/
}

#addEntity {
	margin-top: 1em;
}

#navBar {
	position: relative;
	float: left;
	margin: 0px;
	border: 0px;
	padding: 0px;
	overflow: visible;
}

#navBar > ul {
	position: relative;
	padding: 0px;
	margin: 0px;
	float: left;
	border-width: 2px 2px 0px 2px;
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	overflow: hidden;
}

#navBar li {
	box-sizing: border-box;
}
#navBar > ul {
	box-sizing: border-box;
}
#navBar > ul > li {
	background-color: #0177C0;
	position: relative;
	float: left;
	font-weight: bold;
	list-style: none;
	padding: 0px;
	color: #FFFFFF;
	width: 140px;
	height: 34px;
}
#navBar > ul > li > div {
	box-sizing: border-box;
	width: 80%;	
	height: 34px;
	line-height: 34px;
	margin: auto;
	position: relative;
	text-align: center;
}
#navBar > ul > li > div:hover {
	
	background-color: #013AC0;
	border-style: solid;
	border-color: #FFF;
	border-width: 0px 1px 0px 1px;
}

#navBar > ul > li > div > a {
	display: inline-block;
	color: #FAFAFA;
	line-height: 1.5;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
}	
#navBar > ul > li > div:hover > a {
	color: #FFF;
}
#navBar > ul > li:last-of-type{
	border-width: 0px;	
	border-bottom-width: 2px;
}
#navBar span {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}
.wrapOuter {
	position: relative;
	float: left;
	left: 50%;
}
.wrapInner {
	position: relative;
	float: left;
	left: -50%;
}

.wrapInner > h3 {
	text-align: center;	
}
.wrapFinal {
	clear: both;
}
.table1 {
	border-spacing: 1px;	
}

.table1 th {
	background-color: #0177C0;
	color: #FAFAFA;
	padding: 0.25em 1.5em;
	margin: 0;
}

.table1 tr {
	margin: 0;	
}

.table1 td {
	background-color: #D3D3D3;
	margin: 0;
	padding: 0.25em 1.5em;
	text-align: center;
}